* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: hsla(0, 0%, 100%, 1);
    --text-color: hsla(240, 6%, 21%, 1);
    --button-primary: hsla(240, 9%, 89%, 1);
    --controls-bg-color: hsla(194, 97%, 31%, 1);
    
    font-size: clamp(40%, 1% + 2vh, 62.5%);
}

/*Light mode*/
html.light {
    --text-color: hsl(194, 40%, 98%);
    --bg-color: hsl(194, 5%, 7%);
    --button-primary: hsl(324, 6%, 17%);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
    display: none;
}

#toggle-mode {
    position: absolute;
    right: 3.2rem;
    top: 3.2rem;
    font-size: 3.2rem;
    line-height: 0;

    color: var(--text-color);
}

/*Acessibilidade de leitura*/
.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;

    margin: -1px;
    padding: 0;
    border: 0;
    appearance: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    display: grid;
    height: 100vh;
    place-content: center;    
}

#app {
    display: grid;
    justify-items: center;
}

.flex {
    display: flex;
    justify-content: center;
    text-align: center;
}

#timer {
    color: var(--text-color);
    font-size: 12.61rem;
    font-weight: bold;
    font-family: sans-serif;
}

#controls {
    margin-top: 1.7rem;
    gap: 4rem;
}

button {
    background-color: transparent;
    border: 0;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 6.4rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 19.7rem; /* Espaço entre as colunas */
}

.box {
    padding: 20px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-rows: auto auto; /* Duas linhas de altura automática */
    grid-template-columns: 1fr 1fr; /* Duas colunas com largura igual */
    gap: 3.2rem; /* Espaço entre as linhas e colunas */
}

.btn {
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--button-primary);
    
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 2.4rem;
    width: 13.8rem;
    height: 15.2rem;
    cursor: pointer;
}